.details-card {
    _display: flex;
    _flex-direction: column;
    padding: 0.3rem;
    _background-color: #efebe9;
    margin: 0.8rem 0.8rem;
    border-radius: 5px;
}

.button {
    _align-self: end;
    _width: 3rem;
    margin: 0.5rem;

}